* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #ffcf77;
  --title-color: #f3a513;
  --text-color: ;

  font-size: 62.5%;

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;

  text-align: center;
  overflow: overlay;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

img {
  max-width: 100%;
}

button i {
  font-size: 3rem;
  color: black;
}

/*===============GLOBAL===============*/
section {
  margin-block: 10rem;
}

section h4 {
  text-transform: uppercase;
  color: var(--title-color);
}

section h1 {
  font-size: 2.8rem;
  margin-block: 1.5rem;
}

.divider {
  height: 1px;
  background: linear-gradient(
    270deg,
    var(--primary-color),
    var(--primary-color)
  );
}

/*===============NAVBAR===============*/
nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a img {
  width: 45%;
  margin-left: -8rem;
}

nav.scroll {
  background: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/*===============MENU EXPANDIDO===============*/
nav .menu,
nav .close-menu {
  position: fixed;
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 5rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: #fff;
  text-shadow: -1px -1px 0px #000, -1px 1px 0px #000, 1px -1px 0px #000,
    1px 0px 0px #000;
  text-decoration: none;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo span {
  color: white;
}

/*===============EXPERTISE===============*/
#expertise header p,
#education header p {
  margin-block: 2rem;
}

.timeline {
  display: grid;

  border-left: 2px solid var(--primary-color);
  padding-bottom: 1.5rem;
}

.cards {
  display: grid;
  grid-row-gap: 2rem;
  overflow: hidden;
  padding-block: 2rem;
}

.card {
  border-left: 0.3rem solid #000;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  background-color: white;

  position: relative;
  margin-left: 1rem;
  padding: 1rem;
}

.card::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #000;

  position: absolute;
  top: 1rem;
  left: -50%;
  z-index: -1;
}

.card h4 {
  margin-block: 2rem;
}

.time {
  padding: 0.7rem;
  background-color: var(--primary-color);

  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.extra {
  text-transform: uppercase;
  font-weight: 700;

  margin: 0 auto;
  padding: 0.5rem;
}

.img-desktop {
  display: none;
}

/*===============EDUCATION===============*/
#education .card p {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

/*===============CONTACT===============*/
.contact-cards {
  margin-top: 2rem;
  align-content: center;
}

.contact-card {
  display: flex;
  justify-content: flex-start;

  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;

  background: var(--primary-color);

  border-radius: 2rem;
  width: 55%;
}

.contact-card i {
  font-size: 2rem;
  margin-right: 2rem;
}

/*===============FOOTER===============*/
footer {
  background-color: var(--primary-color);

  padding: 3rem;
  text-align: left;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
}

footer p {
  margin-bottom: 1rem;
}

footer i {
  font-size: 3rem;
  margin-right: 2rem;
}

footer .social {
  margin-right: 2rem;

}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

/*======== BACK TO TOP ========*/
#backToTopButton {
  position: fixed;
  bottom: 1.5rem;
  right: 3rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}

#backToTopButton i {
  font-size: 4.5rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 1rem;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
